* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  padding: 10px;
  gap: 10px;
}

.nav__bar__s1__title {
  color: #a332ea
}

.nav__bar__s2 {
  border: solid 1px black;
  align-items: center;
  padding: 10px;
  width: 60%;
  border-radius: 30px;
  display: flex;
  gap: 10px;
}

.nav__bar__s2 input {
  border: none;
  width: 100%;
  font-size: 15px;
}

.nav__bar__s2 input:focus {
  outline: none;
}

.nav__bar__s3 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.categories {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-bottom: solid 1px black;
}

.categories p {
  background-color: #a332ea;
  padding: 12px;
  color: white;
  border-radius: 30px;
}
.categories p:hover {
background-color:#a155d0 ;
}
.sale-img img {
  width: 100%;
}

.recommended {

  margin: 10px;

}

.recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
  

}

.course__card {
  width: 250px;
  background-color:#9b52c7 ;
  gap: 10px;
  padding: 10px;

}

.course__card__img {
  width: 100%;
  height: 180px;

}

.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.topics__container p {
  border: 2px solid grey;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;

}

.topics__container p:hover{
  background-color:#a332ea;
  color: aliceblue;
  border:solid wheat 3px;
}

.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
}

.popular__card {
  width: 200px;
}

.popular__card__img {
  width: 100%;
  height: 180px;
}

.footer {
  background-color: black;
  color: white;
  height: 300px;


}

.footer__one {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.footer__one p {
  margin: 20px;
}

.footer__two {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}